<h1>Your Links</h1>

<div id="explanation" class="col-md-12">
	<blockquote>
		Here you can find all your stored links and edit them if you want
	</blockquote>
</div>

<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<%= label_tag "new_link", "New Link"%>
		<%= text_field_tag "new_link", "", class: "form-control"%>
		<%= label_tag "category", "Category"%>
		<%= select_tag("category", options_for_select(Category.all), include_blank: true)%>
	</div>
</div>
<table class="table table-bordered">
	<thead>
		<th>Link</th>
		<th>Category</th>

		<th width="5%%">edit</th>
		<th width="5%">delete</th>

	</thead>
	<tbody>
		<% @links.all.each do |link|%>
		<tr><td><%=link.link %></td><td><%=link.category.name%></td>><td><%=link_to "edit" %></td><td><%=link_to("delete")%></td></tr>
		<%end%>
	</tbody>
</table>
