<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">

			<div class="col-md-4">
				<img src="" alt="test" class="img-rounded">
			</div>
			<div class="col-md-6">
				user

			</div>
			<div class="col-md-2">
				<%= icon("lock")%>
			</div>
		</div>
		<div class="row"></div>
	</div>
</div>

<div class="col-md-12">
	<% @links.each do |link|%>
	<div class="row">
		<div class="col-md-10">
			<ul class="list-group">
				<li class="list-group-item">
					<%= link.link %>
				</li>
				<li class="list-group-item">
					<%link.tags.each do |t|%>
					<%= t.name %>,
					<%end%>
				</li>
			</ul>

		</div>
		<div class="col-md-2">
			<%= link_to("delete") do %>
			<%= icon("times-circle fa-2x")%>
			<%end%>
		</div>
	</div>
	<%end%>
</div>